[submodule "libs/uiux"]
	path = libs/uiux
	url = https://github.com/nextlevelbuilder/ui-ux-pro-max-skill
[submodule "libs/superpowers"]
	path = libs/superpowers
	url = https://github.com/obra/superpowers
[submodule "libs/memory"]
	path = libs/memory
	url = https://github.com/thedotmack/claude-mem
[submodule "libs/patterns"]
	path = libs/patterns
	url = https://github.com/hesreallyhim/awesome-claude-code
